* {
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: -0.5px;
}

:root {
    --title: #fff;
    --subtitle: #fee040;
    --features: linear-gradient(#f2c94c 50% 100%);
    --video: #c4c4c4;
    --right_content: #f5f5f5;
    --dark: #151515;
    --light-dark: #333333;
    --header: #707070;
}

.hero {
    width: 1920px;
    height: 768px;
    background: url("img/sean-pollock.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.nav {
    display: flex;
    flex-direction: row;
    height: 80px;
    top: 18px;
}

.burger {
    width: 40px;
    height: 22px;
    left: 250px;
    top: 29px;
    opacity: 0.8;
    padding-top: 29px;
    padding-left: 250px;
}

.logo {
    width: 196.75px;
    height: 30px;
    left: 370px;
    top: 8px;
    padding-left: 370px;
}

.title {
    font-size: 12px;
    color: var(--title);
    opacity: 0.5;
}

.mail {
    position: absolute;
    height: 31px;
    width: 131px;
    top: 23px;
    left: 1210px;
}

.mail_info {
    color: var(--subtitle);
    text-align: right;
    font-size: 14px;
    top: 6px;
    display: flex;
    flex-direction: row;
}

.number {
    position: absolute;
    top: 18px;
    left: 1482px;
    height: 44px;
    width: 188px;
}

.top_text {
    display: flex;
    flex-direction: row;
    color: var(--title);
    font-size: 12px;
    opacity: 0.5;
}

.phone_number {
    color: var(--title);
    font-size: 20px;
    line-height: 24px;
}

.content {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 208px;
    left: 370px;
}

.header {
    width: 580px;
    height: 209px;
}

.buildings {
    color: var(--title);
    font-size: 42px;
    height: 103px;
    width: 580px;
    line-height: 51px;
}

.stuff {
    font-size: 20px;
    color: var(--title);
    opacity: 0.7;
    height: 68px;
    width: 363px;
    line-height: 34px;
}

.but {
   position: absolute;
   width: 340px;
   height: 194px;
   left: 1210px;
}

.btn {
    width: 340px;
    height: 70px;
    background-color: var(--subtitle);
    border-radius: 2px;
    border: none;
}

.but_text {
    color: var(--title);
    font-size: 15px;
    top: 40px;
    line-height: 28px;
}

.features {
    display: flex;
    flex-direction: row;
    top:652px;
    left: 249.86px;
    max-width: 1020.14px;
    height: 56px;
    color: var(--title);
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.feat {
    display: flex;
    flex-direction: row; 
    max-height: 56px;
    max-width: 260px;
}

.numbers {
    height: 49px;
    width: 50px;
}

.why_we {
    display: flex;
    flex-direction: row;;
}

.tv {
    width: 300px;
    height: 295px;
    left: 768.29px;
    top: 928px;
    transform: rotate(-20.21deg);
    margin: 0 auto;
    order: 2;
}

.right_content {
    color: var(--dark);
    width: 960px;
    height: 449px;
    left: 960px;
    top: 768px;
    order: 3;
}

.group {
    width: 460px;
    height: 178px;
    left: 1210px;
    top: 904px;
}

.plus {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.5px;
    color: var(--light-dark);
    
}

.plus li {
    opacity: 0.7;
}

li {
    list-style-image: url(img/icon.svg);
}

.header {
    width: 460px;
    height: 260px;
    left: 250px;
    top: 868px;
    order: 1;
}

.title2 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.5px;
    color: var(--dark);
}

.subtitle {
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: var(--header);
    opacity: 0.7;
}

.why_we {
    width: 1670px;
    height: 449px;
    left: 250px;
    top: 768px;
    display: flex;
    flex-direction: row;
}

.services {
    width: 1920px;
    height: 1737.23px;
    left: 1920px;
    top: 1217px;
    /* background: url(img/patrick-tomasso.png); */
    /*transform: matrix(-1, 0, 0, 1, 0, 0);*/
    background-color: var(--dark);
    background-repeat: no-repeat;
     -webkit-mask-image: linear-gradient(rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
    mask-image: linear-gradient(rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
}

.service {
    max-width: 149px;
    max-height: 16px;
    left: 951px;
    top: 1317px;
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 20px;
    color: var(--subtitle);
}

.serv {
    width: 1085px;
    height: 42px;
    left: 483px;
    top: 1353px;
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.5px;
    color: var(--title);
}